div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eaeaea;
}
div.blog h3{
    margin-top: 0.5em;
}
p.blog-info{
    margin-bottom: 0.5em;
    font-size: 90%;
    color: #999999;
}

ul.blog-info{
    list-style-type: none;
    margin-bottom: 2em;
}
ul.blog-info li{
    display: inline-block;
    margin-right: 2em;
}
div.blog-content{
    text-indent: 2em;
}